.home_container {

  .content {
    background: url('/pexels-photo.jpeg');
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  
    width: 100%;
    height: 100%;
  }

  .top_content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 64px 0;

    .logo {
      color: #f5d654;

      font-size: 3.75rem;
      font-weight: 700;
      text-align: center;
    }

    .inside_top_content {
      p {
        font-size: 3.75rem;
        font-weight: 700;

        margin-top: 158px;

        max-width: 780px;
        color: #fff;
      }

      .agender_btn {
        margin-top: 96px;
        padding: 24px 64px;
        background: #fff;
        
        color: #000;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;

        border: none;
        border-radius: 99px;
        transition: all 0.2s;

        display: inline-block;

        &:hover {
          filter:brightness(90%);
        }
      }
    }
  }

  main {
    margin: 64px auto;
    padding-top: 32px;
    max-width: 1480px;

    .apts_header {
      text-align: center;

      h2 {
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 1.1;

        color: #000;
      }

      p {
        color: #646464;
        margin-top: 16px;
      }
    }

    .apts_container {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      margin-top: 32px;

      .apt {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        background: #191919;
        border-radius: 8px;

        img {
          border-radius: 8px 8px 0 0;
        }

        .agender_btn {
          margin: 16px 0 24px;
          padding: 12px 64px;
          background: #fff;
          
          color: #000;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 2px;

          border: none;
          border-radius: 99px;
          transition: all 0.2s;

          &:hover {
            filter:brightness(90%);
          }
        }
      }
    }
  }
}
