.unique_apt_container {
  .unique_apt_content {
    margin: 64px auto;
    padding-top: 32px;
    max-width: 1480px;
    padding: 0 32px;

    main {
      margin: 0 auto;
      max-width: 780px;
      background: #f5f7fa;
      box-shadow: 1px 1px 10px rgb(221, 221, 221);
      padding-bottom: 16px;

      .apts_header {
        text-align: center;

        .go_back {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          a {
            color: rgb(57, 57, 57);
            padding: 12px 32px;
            margin: 16px 0 0 16px;
            background: #c6c6c6;
            
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 2px;
    
            border: none;
            border-radius: 99px;
            transition: all 0.2s;
            display: inline-block;
    
            &:hover {
              filter:brightness(90%);
            }
          }
        }

        h2 {
          font-weight: 400;
          font-size: 2.25rem;
          line-height: 1.1;

          color: #000;
        }

        p {
          color: #646464;
          margin-top: 16px;
        }
      }

      .apts_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 16px;

        margin-top: 32px;

        .apt {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          background: #191919;
          border-radius: 8px;

          img {
            border-radius: 8px 8px 0 0;
          }

          .inputs {
            padding-top: 16px;
            margin-bottom: 16px;

            border-top: 1px solid #646464;

            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 32px;
            
            .input_container {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              label {
                margin-bottom: 4px;
                color: #fff;
              }

              input {
                color: #000;
              }
            }
          }

          .agender_btn {
            margin: 16px 0 24px;
            padding: 12px 64px;
            background: #fff;
            
            color: #000;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 2px;

            border: none;
            border-radius: 99px;
            transition: all 0.2s;

            &:hover {
              filter:brightness(90%);
            }
          }
        }
      }
    }
  }

}
